@import 'variables';

h1 {
    color:$red-color;
} 
a {
    text-decoration: none;
}
.profile {
    
}

.img-thumb {
    width:32px ;
}
.full-name {
    color:  $red-color
}
.checkbox-select-all-option {
    width: 200px;
    margin: 0 16px;
}