<div class="mt-4">
    <div class="row">
        <div class="col-3">
            <button class="ssm" > Đăng ký</button>
        </div>

        <div class="col-8">
            <h2>Khoá học 1</h2>
            <iframe width="560" height="315" src="https://www.youtube/LnTPJcUQdNU" frameborder="1"></iframe>
            <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
    </div>
</div>  