<form class="row g-3 needs-validation mt-4">
  <div class="col-md-10">
    <label for="validationCustom01" class="form-label">Search</label>
    <input type="text" name="q" class="form-control" id="validationCustom01" value="" >
  </div>
  
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>